// Defaults ================= 

.hide {
    display: none;
}

.no-js {
    display: none;
}

.no-overflow { 
    overflow: hidden;
}

.full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.absolute-h-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.absolute-v-center {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}




// Clearfix

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
	display: inline-block;
}

.clear {
    clear: both;
}

// Test class to see if it helps performance

.lag-fix{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}


// Helpers

// adds hover when site is not touch & active/link when site is touch (touch class needs to be added to body)
@mixin touchhover() {
    body:not(.touch) &:hover {
        @content;
    }
    body.touch &:active,
    body.touch &:link {
        @content;
    }
}

//  add background image for both normal and retina
@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
    background-image: url($image_name + $extention);
    $x2img : $image_name + '@2x' + $extention;
    background-size: $w $h;

    @media all and (-webkit-min-device-pixel-ratio : 1.5) {
        background-image: url($x2img);
    }
}

