// Navigation ===================

.header-logo {
	position: fixed;
	width: 222px;
	height: 26px;
	top: 35px;
	left: 95px;
	z-index: 100;
	@include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));

	svg, g{
		fill: #c1c1c1 !important;
	}
	&.navigation-active{
		@include transform(translateX(($menu-width)-40px)); 
		opacity: 0;
		visibility: hidden;
	}
	&.inactive{
		//@include transform(translateY(-100px));
		opacity: 0;
		visibility: hidden;
		@include transition(all .3s ease);

	}
}

// Navigation

.navigation {
	position: fixed;
	width: $menu-width;
	height: 100%;
	background: $off-black;
	top: 0;
	left: -$menu-width;
	z-index: 300;
	-webkit-font-smoothing: antialiased;
	@include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));

	&.navigation-active {
		@include transform(translateX($menu-width)); 

		.menu-icon{
			@include transform(translateX(-$menu-width)); 
			.line-1 {
				width: 22px;
				@include transform(translateX(-11px) rotate(-45deg) translateY(12px));
			}
			.line-2 {
			  	opacity: 0;
			  	@include transform(translateX(-5px));
			}
			.line-3 {
				width: 22px;
			  	@include transform(translateX(-8px) rotate(45deg) translateY(-8px));

			}
		}

		.navigation-list li {
			@include transform(translateX(0px));
			&:nth-child(1) {
				@include transition(all .8s cubic-bezier(0.19, 1, 0.22, 1));
			}
			&:nth-child(2) {
				@include transition(all .8s 80ms cubic-bezier(0.19, 1, 0.22, 1));
			}
			&:nth-child(3) {
				@include transition(all .8s 160ms cubic-bezier(0.19, 1, 0.22, 1));
			}
			&:nth-child(4) {
				@include transition(all .8s 240ms cubic-bezier(0.19, 1, 0.22, 1));
			}
			&:nth-child(5) {
				@include transition(all .8s 320ms cubic-bezier(0.19, 1, 0.22, 1));
			}
			&:nth-child(6) {
				@include transition(all .8s 400ms cubic-bezier(0.19, 1, 0.22, 1));
			}
		}
	}
}

// Navigation list

.navigation-list {
	padding: 125px 0 0 0;
	list-style: none;
	height: 100%;
    position: relative;
    overflow: scroll;
    &::-webkit-scrollbar { width: 0 !important }
    -ms-overflow-style: -ms-autohiding-scrollbar;

	li {
		max-height: 60px;
		padding: 18px 60px;
		display: block;
		position: relative;
		background: $off-black;
		cursor: pointer;
		@include transform(translateX(-100px));
		@include transition(all .6s 0ms ease);
		&:hover h3 {
			color: white;
		}
		&.active {
			.navigation-line {
				opacity: 1;
			}
			h3 {
				color: white;
			}
		}
		&.expanded {
			max-height: 220px;
			h3 {
				color: white;
			}
		}
		h3 {
			color: #8c8c8c;
			@include transition(all .15s ease);
		}
	}
	@media #{$phonel} {	
		padding: 80px 0;
	}
}

.navigation-trigger {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navigation-line, .sub-navigation-line {
	@extend .line-blob;
	position: absolute;
	top: 35px;
    width: 40px;
	left: 0;
	bottom: 110px;
	opacity: 0;
}


.sub-navigation {
	padding-top: 10px;
	list-style: none;
	li {
		height: 31px;
		padding: 10px 0px;
		display: block;
		position: relative;

		&:hover h5 {
			color: white;
		}

		h5 {
			color: #8c8c8c;
		}

		.sub-navigation-line {
			top: 20px;
			left: -59px;
			width: 42px;
			opacity: 0;
		}

		&.active {
			.sub-navigation-line {
				opacity: 1;
			}
			h5 {
				color: white;
			}
		}
	}
}




// Hamburger 

.menu-icon {
	position: absolute;
	height: 16px;
	width: 20px;
	top: 37px;
    right: -58px;
	cursor: pointer;
	z-index: 100;
	@include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));

	.line {
		position: absolute;
		display: block;
		background: #c1c1c1;
		width: 18px;
		height: 2px;
		left: 0;
		@include transition(all 600ms cubic-bezier(0.5, 0.1, 0, 1.2));	

		&.line-1 {
		  	top: 0;
		}
		&.line-2 {
		  	top: 7px;
		  	width: 28px;
		}
		&.line-3 {
			top: 14px;
		}
	}
}

