// Approach ======================

.approach-wrap {
	padding-top: 40px;
	padding-bottom: 150px;
	background: white;
	overflow: hidden;
	@media #{$phonel} {	
		margin-top: 40px;
		margin-bottom: 50px;
	}
}

.approach-item {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 50px 0;
	&:nth-child(even) {
	    .approach-text{
	    	float: right;
	    } 
	    .approach-image{
	    	float: right;
	    	padding-right: 120px;
	    	padding-left: 0;
	    	@media #{$tabletp} {	
				padding-right: 50px;
			}
			@media #{$phonel} {	
				padding: 0;
			}
	    } 
	}
	@media #{$phonel} {	
		padding: 20px 0;
	}
}

.approach-text {
	width: 50%;
	display: block;
	float: left;
	overflow: hidden;
	h2{
		margin-bottom: 30px;
	}
	@media #{$phonel} {	
		width: 100%;
		margin-bottom: 30px;
	}
}

.approach-image {
	width: 50%;
	display: block;
	float: left;
	overflow: hidden;
	padding-left: 120px;
	@media #{$tabletp} {	
		padding-left: 50px;
	}
	@media #{$phonel} {	
		width: 100%;
		padding: 0;
	}
}

