// Contact ======================

.contact-header {
	width: 100%;
	height: 800px;
	background: #eeefeb;
	overflow: hidden;
	position: relative;
	@media #{$tabletl} {	
		height: 600px;
	}
	@media #{$tabletp} {	
		height: 800px;
	}
}

.contact-image {
	@extend .absolute-h-center;
	width: 100%;
	//max-width: 1640px;
	height: 800px;
	@media #{$tabletl} {	
		display: none;
	}
}

// Contact header text

.contact-header-contact {
	//padding: 0 150px;
	.line-blob--black{
		top: 210px;
		background: #DCDCDC;
		@media #{$tabletl} {	
			top: 160px;
		}
	}
}

.contact-title {
	width: 100%;
	display: block;
	float: left;
	margin-top: 200px;
	margin-bottom: 30px;
	@media #{$tabletl} {	
		margin-top: 150px;
	}

}

.office-location {
	width: 50%;
	float: left;
	display: block;
	p{
		font-size: 16px;
		line-height: 26px;
	}
	@media #{$tabletp} {	
		width: 100%;
		margin-bottom: 70px;
	}

}

.contact--maplink{
	text-decoration: underline;
	color: #a3a3a3;
}

.location-2{
	padding-left: 40px;
}


// enquiries

.enquiry-section{
	//overflow: hidden;
	margin-top: 90px;
	//margin-bottom: 30px;
	height: 220px;
	@media only screen and (max-width: 1140px){
		height: 270px;
	}
	@media #{$tabletp} {	
		height: 320px;
	}
}

.enquiry-title{
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 30px;
}

.enquiry-item{
	width: 33%;
	display: block;
	float: left;
	a{
		color: #999999;
	}
	@media only screen and (max-width: 1140px){
		width: 50%;
		margin-bottom: 20px;
	}
	@media #{$tabletp} {	
		width: 100%;
	}
}

// follow

.follow-section{
	margin-top: 40px;
}

.follow-title{
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 30px;
}

.follow-icons{
	width: 100%;
	overflow: hidden;
	padding-bottom: 123px;

	li{
		width: 46px;
		height: 45px;
		float: left;
		display: block;
		position: relative;
		margin-right: 24px;
		margin-bottom: 24px;
		a{
			@include transition(all 200ms ease);
			&:hover{
				opacity: 0.7;
			}
		}
	}
}
