// Work-modules ======================

.work-content{
	padding-top: 30px;
	overflow: hidden;
	position: relative;
	z-index: 50;
	background: white;
}

.work-subtitle{
	float: left;
	width: 20%;
	display: inline-block;
}


// Intro

.work-intro{
	overflow: hidden;
	margin: 120px auto 120px auto;
}

.work-intro--text{
	float: right;
	width: 66%;
	display: inline-block;
	font-size: 36px;
}

// Heading copy

.work-heading-copy{
	overflow: hidden;
	margin: 120px auto 120px auto;
	padding-top: 20px;
}

.work-heading{
	width: 100%;
	h1{
		position: relative;
		top: -18px;
	}
}

.work-heading-copy--text{
	float: right;
	width: 66%;
	display: inline-block;
	margin-top: 40px;
	p{
		font-size: 18px;
	}
}

// Images

$work-image-height: 421px;

.work-images{
	overflow: hidden;
	margin: 120px auto 120px auto;
	width: 100%;
}

.work-image{
	overflow: hidden;
	display: block;
	position: relative;
}


//
.large-image{
	.work-image{
		width: 64.5%;
		float: left;
		height: $work-image-height;
		margin-right: 1.5%;
	}
}

.small-large-image{
	.work-image{
		&:nth-child(1){
			width: 31.5%;
			float: left;
			height: $work-image-height;
			margin-right: 1.5%;
		}
		&:nth-child(2){
			width: 64.5%;
			float: left;
			height: $work-image-height;
			margin-left: 1.5%;
		}
	}
}

.large-small-image{
	.work-image{
		&:nth-child(1){
			width: 64.5%;
			float: left;
			height: $work-image-height;
			margin-right: 1.5%;
		}
		&:nth-child(2){
			width: 31.5%;
			float: left;
			height: $work-image-height;
			margin-left: 1.5%;
		}
	}
}

.half-half-image{
	.work-image{
		&:nth-child(1){
			width: 48.5%;
			float: left;
			height: $work-image-height;
			margin-right: 1.5%;
		}
		&:nth-child(2){
			width: 48.5%;
			float: left;
			height: $work-image-height;
			margin-left: 1.5%;
		}
	}
}

.left-left-right-image{
	.work-image{
		&:nth-child(1){
			width: 48.5%;
			float: left;
			height: 368px;
			margin-right: 1.5%;
		}
		&:nth-child(2){
			width: 48.5%;
			float: right;
			height: 796px;
			margin-left: 1.5%;
			
		}
		&:nth-child(3){
			width: 48.5%;
			float: left;
			height: 526px;
			margin-right: 1.5%;
			margin-top: 3%;
		}


	}
}

.left-right-right-image{
	.work-image{
		&:nth-child(1){
			width: 48.5%;
			float: left;
			height: 796px;
			margin-right: 1.5%;
		}
		&:nth-child(2){
			width: 48.5%;
			float: right;
			height: 368px;
			margin-left: 1.5%;
		}
		&:nth-child(3){
			width: 48.5%;
			float: right;
			height: 526px;
			margin-left: 1.5%;
			margin-top: 3%;
		}


	}
}

// Vimeo


.work-vimeo{
	overflow: hidden;
	margin: 120px auto 120px auto;
}

.vimeo-embed{
	height: 0;
	padding-top: 0;
	padding-bottom: 56.34%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	iframe{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		outline: none;
		border: none;
	}
}


// Slide show gallery

.full-slideshow{
	overflow: hidden;
	height: 700px;
}

